*{margin:0;}

html,body{height: 100%;}

.wrapper{
	min-height: 100%;
	height: auto /*!important*/;
	height: 100%
	margin:0 auto -109px;
}

.push{height: 109px;}

body{
	background: url('../images/background2.png') #white;
	margin: 0;
	padding: 0;
	font-family: 'Arial','Helvetica Neue', Helvetica,sans-serif;
	font-size: 18px;
	color: gray;
}

a{
	color: lightgray;
	text-decoration: none;
}

h1,h2,h3{
	font-family: "Times New Roman",Times, serif;
	font-weight: bold;
	font-size: 30px;
	color: #3b8683;
}

h3{font-size: 22px;}

header{
	background: white;
	border-bottom: 2px solid lightgray;
}

#heade_box{
	width: 960px;
	height: 90px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header_name_text_box{
	background-color: #3b8683;
	width: 250px;
	height: 90px;
	display: flex;
	align-items: center;
}

#header_name_text{
	margin: auto;
	color: white;
}

nav{
	height: 20px;
	display: flex;
	justify-content: flex-end;
}

.nav_link{
	background: white;
	padding: 0px 15px;
	height: 100%;
	transition: all 0.2s linear;
}

.nav_link:hover{
	background: #bfbfbf;
}

.nav_vertical_bar{
	background: #bfbfbf;
	width: 2px;
	height: 100%;
}

#main_box{
	width: 960px;
	margin: 38px auto;
	display: flex;
	justify-content: space-between;
}

section,aside{
	background: white;
	border: 2px solid lightgray;
	width: 588px;
	height: 100%;
	padding: 40px 30px 30px 30px;
}

section p{line-height: 190%;}

#section_darkblue_line{
	background: lightgray;
	height: 3px;	
	margin: 30px 0 20px 0;
}

aside{
	width: 208px;
	height: 133px;
	padding: 30px 30px 35px 30px;
}

aside img{
	width:64px;
	height: 64px;
	transition: all 0.2s linear;
}

aside img:hover{opacity: 0.7;}

#aside_darkblue_line{
	background: black;
	height: 2px;
	margin: 20px 0 22px 0;
}

#social_images{
	display: flex;
	justify-content: space-between;
}

#profile_image{
	margin:10px 25px 10px 0px;
	float: left;
}



.portfolio_pic{
	height: 205px;
	margin-bottom: 56px;
	position: relative;
}



.portfolio_pic_text_box{
	background: #3b8683;
	width: 100%;
	height: 40px;
	margin-top: 136px;
	padding-top: 20px;
	position: absolute;
	font-family: "Times New Roman",Times, serif;
	font-size: 22px;
	color: white;
	text-align: center;
	transition: all 0.2s linear;

}

.portfolio_pic_text_box:hover{background: darkgray;}

form{margin-top: 27px;}

input, textarea{
	border: 1px solid lightgray;
	width: 564px;
	margin-top: 7px;
	padding: 8px;
	font-size: 16px;
	color: lightgray
}

input[type=submit]{
	background: #3b8683;
	border: 0px;
	outline: none;
	width:auto;
	margin-top: 12px;
	padding: 10px 30px;
	font-size: 18px;
	color: white;
	transition: all 0.2s linear;
}

input[type=submit]:hover {
	background: darkgray;
}

textarea{height: 190px;}